@import "../../../assets/sass/to-import.scss";

.navbar-default {
  @include box-shadow($x: 0px, $y: 2px, $blur: 10px);

  a.navbar-brand {
    padding: 13px 15px;

    span {
      margin-right: 4px;
    }
  }
}
a {
  text-decoration: none;
}

.new-noti {
  //background: red;
  border-radius: 2%;
  color: black;
  min-width: 255px;
  background: linear-gradient(to bottom, #0066ff 0%, #ffffff 100%);
  height:100px;
}

.navbar-default .dropdown-menu.notify-drop {
  min-width: 330px;
  background-color: #fff;
  min-height: 360px;
  max-height: 360px;
}
.navbar-default .dropdown-menu.notify-drop .notify-drop-title {
  border-bottom: 1px solid #e2e2e2;
  padding: 5px 15px 10px 15px;
}
.navbar-default .dropdown-menu.notify-drop .drop-content {
  min-height: 280px;
  max-height: 280px;
  overflow-y: scroll;
}
.navbar-default .dropdown-menu.notify-drop .drop-content::-webkit-scrollbar-track
{
  background-color: #F5F5F5;
}

.navbar-default .dropdown-menu.notify-drop .drop-content::-webkit-scrollbar
{
  width: 8px;
  background-color: #F5F5F5;
}

.navbar-default .dropdown-menu.notify-drop .drop-content::-webkit-scrollbar-thumb
{
  background-color: #ccc;
}
.navbar-default .dropdown-menu.notify-drop .drop-content > li {
  border-bottom: 1px solid #e2e2e2;
  padding: 10px 0px 5px 0px;
}
.navbar-default .dropdown-menu.notify-drop .drop-content > li:nth-child(2n+0) {
  background-color: #fafafa;
}
.navbar-default .dropdown-menu.notify-drop .drop-content > li:after {
  content: "";
  clear: both;
  display: block;
}
.navbar-default .dropdown-menu.notify-drop .drop-content > li:hover {
  background-color: #fcfcfc;
}
.navbar-default .dropdown-menu.notify-drop .drop-content > li:last-child {
  border-bottom: none;
}
.navbar-default .dropdown-menu.notify-drop .drop-content > li .notify-img {
  float: left;
  display: inline-block;
  width: 45px;
  height: 45px;
  margin: 0px 0px 8px 0px;
}
.navbar-default .dropdown-menu.notify-drop .allRead {
  margin-right: 7px;
}
.navbar-default .dropdown-menu.notify-drop .rIcon {
  float: right;
  color: #999;
}
.navbar-default .dropdown-menu.notify-drop .rIcon:hover {
  color: #333;
}
.navbar-default .dropdown-menu.notify-drop .drop-content > li a {
  font-size: 12px;
  font-weight: normal;
}
.navbar-default .dropdown-menu.notify-drop .drop-content > li {
  font-weight: bold;
  font-size: 11px;
}
.navbar-default .dropdown-menu.notify-drop .drop-content > li hr {
  margin: 5px 0;
  width: 70%;
  border-color: #e2e2e2;
}
.navbar-default .dropdown-menu.notify-drop .drop-content .pd-l0 {
  padding-left: 0;
}
.navbar-default .dropdown-menu.notify-drop .drop-content > li p {
  font-size: 11px;
  color: #666;
  font-weight: normal;
  margin: 3px 0;
}
.navbar-default .dropdown-menu.notify-drop .drop-content > li p.time {
  font-size: 10px;
  font-weight: 600;
  top: -6px;
  margin: 8px 0px 0px 0px;
  padding: 0px 3px;
  border: 1px solid #e2e2e2;
  position: relative;
  background-image: linear-gradient(#fff,#f2f2f2);
  display: inline-block;
  border-radius: 2px;
  color: #B97745;
}
.navbar-default .dropdown-menu.notify-drop .drop-content > li p.time:hover {
  background-image: linear-gradient(#fff,#fff);
}
.navbar-default .dropdown-menu.notify-drop .notify-drop-footer {
  border-top: 1px solid #e2e2e2;
  bottom: 0;
  position: relative;
  padding: 8px 15px;
}
.navbar-default .dropdown-menu.notify-drop .notify-drop-footer a {
  color: #777;
  text-decoration: none;
}
.navbar-default .dropdown-menu.notify-drop .notify-drop-footer a:hover {
  color: #333;
}
@import "../../../assets/sass/to-import.scss";
// @import 'ngx-ui-switch/ui-switch.component.scss';

.navbar-default {
  @include box-shadow($x: 0px, $y: 2px, $blur: 10px);

  a.navbar-brand {
    padding: 13px 15px;

    span {
      margin-right: 4px;
    }
  }
}

::selection {
    background-color: #2c3e50;
    color: #fff;
  }

  a {
    color: #0273d4;
    text-decoration: none;
  }
    a:hover {
      border-bottom: 1px dotted #0273d4;
    }

  p {
    margin-bottom: 1em;
  }

  h1,
  h2 {
    font-weight: 300;
  }

  h1 {
    border-bottom: 1px dotted #0273d4;
    display: block;
    margin: 2rem 0 1rem;
    padding-bottom: 0.5rem;
  }

  h2 {
    margin: 0.5rem 0;
  }

  .loading {
    padding: 1em;
  }

  ::ng-deep aside {
    background-color: #fff;
    padding: 2em 1em;
  }

  .demo-header {
    align-items: center;
    background: #2c3e50;
    color: #fff;
    display: flex;
    padding: 1em;
  }

    .demo-header__toggle {
      background: transparent;
      border: 0.15rem solid #fff;
      border-left: 0;
      border-right: 0;
      cursor: pointer;
      font-size: 0;
      height: 1.5rem;
      margin-right: 1rem;
      position: relative;
      width: 2rem;
    }
      .demo-header__toggle:after {
        background: #fff;
        content: '';
        height: 0.15rem;
        left: 0;
        margin-top: -0.075rem;
        position: absolute;
        top: 50%;
        width: 100%;
      }

    .demo-sidebar.ng-sidebar--opened.ng-sidebar--over {
      box-shadow: 0 0 2.5em rgba(85, 85, 85, 0.5);
    }

  .demo-contents {
    padding: 0 2em;
  }

  .demo-control {
    background-color: #f6f6f6;
    border: 1px solid #545555;
    cursor: pointer;
    margin-bottom: 0.5em;
    padding: 0.5em 2em;
    transition: background-color 0.15s;
  }
  .demo-control:hover {
      background-color: #545555;
      color: #fff;
    }

