<div class="container">
    <form  [formGroup]="registerForm">
        <div class="alert alert-danger" role="alert" *ngIf="error">
            {{error}}
          </div>
        
            <h2 class="page-header" class="text-center"><b>Register Details</b><br><br></h2>
    
        
      
    <!-- 
            <div class="alert alert-danger" role="alert" *ngIf="isValid('fullname')">
                Name is Invalid
              </div> -->
          <div class="form-group">
            
            <label for="inputFullName" class="col-lg-2 control-label">Full Name</label>
            <span style="text-align: center; color:red" *ngIf="isValid('fullname')">Name is Invalid
              </span>
            <div class="col-lg-10">
              <input type="text" class="form-control" id="inputFullName" placeholder="Full Name" formControlName="fullname" autofocus="true">
              <br>
               
            </div>
          </div>
    
          <!-- <div class="alert alert-danger" role="alert" *ngIf="isValid('self_description') || (error && !registerForm.value.self_description)">
              Description is Invalid
            </div> -->
        
          <div class="form-group">
            <label for="textArea" class="col-lg-2 control-label">Self Description</label>
            <span style="text-align: center; color:red" *ngIf="isValid('self_description') || (error && !registerForm.value.self_description)">Add lenghty Description
              </span>
            <div class="col-lg-10">
              <textarea class="form-control" rows="3" id="textArea" formControlName="self_description"></textarea>
              <span class="help-block">Express your self to gain more attraction</span>
              <br>
            </div>
          </div>
    
    
          <!-- <div class="alert alert-danger" role="alert" *ngIf="error && !registerForm.value.gender">
              Gender is Invalid
            </div> -->
          <div class="form-group">
            <label class="col-lg-2 control-label">Gender</label>
            <span style="text-align: center; color:red" *ngIf="error && !registerForm.value.gender">Gender is Required
              </span>
            <div class="col-lg-10">
              <div class="radio">
                <input type="radio"  class="form-contro"  name="gender"  value="Male" formControlName="gender" required> Male<br>
               <input type="radio"   class="form-contro" name="gender" value="Female" formControlName="gender" required> Female<br>
              <input type="radio"   class="form-contro" name="gender" value="Other" formControlName="gender" required> Other
                </div>
            </div>
          </div> 
        
    
    
       
          <!-- <div class="form-group">
              <label for="textArea" class="col-lg-2 control-label">Contact Number</label>
             <div class="col-lg-10">
          <input type="text" class="form-control" id="Contact number" placeholder="07########" formControlName="telephone" >
          <br>
          </div>
          </div> -->
    
    
    
    <!-- 
          <div class="form-group">
              <label for="profession" class="col-lg-2 control-label">Select your profession</label>
              <div class="col-lg-10">
              <select class="custom-select" formControlName="profession">
                <option selected="">Open this select menu</option>
                <option value="1">One</option>
                <option value="2">Two</option>
                <option value="3">Three</option>
              </select>
              
            </div>
          </div> -->
          <!-- <div class="alert alert-danger" role="alert" *ngIf="error && !registerForm.value.dob">
              Date of birth is Invalid
            </div> -->
          <div class="form-group">
              <label for="textArea" class="col-lg-2 control-label">DOB</label>
              <span style="text-align: center; color:red" *ngIf="error && !registerForm.value.dob">DOB Required
                </span>
              
            <div class="col-lg-10">
          <input type="date" class="form-control" id="dob" formControlName="dob" >
          <br>
          </div>
          </div>
    
          <!-- <div class="alert alert-danger" role="alert" *ngIf="error && !b64">
              Insert an Image
            </div> -->
          <div class="form-group">
            <label for="textArea" class="col-lg-2 control-label">Image</label>
            <span style="text-align: center; color:red" *ngIf="error && !b64">Insert an Image
              </span>
          <div class="col-lg-10">
        <input type="file" id="image" name="image" value="image"  (change)="onFileChanged($event)" accept="image/*" [(ngModel)]="img" [ngModelOptions]="{standalone: true}">
        <img src={{b64}} style="max-width: 80%; max-height: 300px;"/>
        <br>
        </div>
        </div>
        
    
        <!-- <div class="alert alert-danger" role="alert" *ngIf="error && (!Interest.Food1 && !Interest.Food2 && !Interest.Food3 && !Interest.Food4 && !Interest.Food5 && !Interest.Food6 && !Interest.Hobbies1 && !Interest.Hobbies2 && !Interest.Hobbies3 && !Interest.Hobbies4 && !Interest.Hobbies5 && !Interest.Hobbies6 && !Interest.Hobbies7 && !Interest.Hobbies8 && !Interest.Hobbies9 && !Interest.Drinks1 && !Interest.Drinks2 && !Interest.Drinks3)">
            Fill atleast one one Interest
          </div> -->
        <div class="form-group">
          <label for="textArea" class="col-lg-2 control-label">Interest</label>
          <span style="text-align: center; color:red" *ngIf="error && (!Interest.Food1 && !Interest.Food2 && !Interest.Food3 && !Interest.Food4 && !Interest.Food5 && !Interest.Food6 && !Interest.Hobbies1 && !Interest.Hobbies2 && !Interest.Hobbies3 && !Interest.Hobbies4 && !Interest.Hobbies5 && !Interest.Hobbies6 && !Interest.Hobbies7 && !Interest.Hobbies8 && !Interest.Hobbies9 && !Interest.Drinks1 && !Interest.Drinks2 && !Interest.Drinks3)">Pick atleast one interest
            </span>
        <div class="col-lg-10">
          <h4><b><u>Career Interest Areas</u></b></h4>
          <input type="checkbox" name="Food1" value="Conventional" [(ngModel)]="Interest.Food1" [ngModelOptions]="{standalone: true}">Conventional<br>
          <input type="checkbox" name="Food2" value="Investigative" [(ngModel)]="Interest.Food2" [ngModelOptions]="{standalone: true}">Investigative<br>
          <input type="checkbox" name="Food3" value="Social" [(ngModel)]="Interest.Food3" [ngModelOptions]="{standalone: true}">Social<br>
          <input type="checkbox" name="Food4" value="Realistic" [(ngModel)]="Interest.Food4" [ngModelOptions]="{standalone: true}">Realistic<br>
          <input type="checkbox" name="Food5" value="Artistic" [(ngModel)]="Interest.Food5" [ngModelOptions]="{standalone: true}">Artistic<br>
          <input type="checkbox" name="Food6" value="Enterprising" [(ngModel)]="Interest.Food6" [ngModelOptions]="{standalone: true}">Enterprising<br>
         
    
          <h4><b><u>Hobbies</u></b></h4>
          <input type="checkbox" name="Hobbies1" value="Reading" [(ngModel)]="Interest.Hobbies1" [ngModelOptions]="{standalone: true}">Reading<br>
          <input type="checkbox" name="Hobbies2" value="Traveling" [(ngModel)]="Interest.Hobbies2" [ngModelOptions]="{standalone: true}">Traveling<br>
          <input type="checkbox" name="Hobbies3" value="Fishing" [(ngModel)]="Interest.Hobbies3" [ngModelOptions]="{standalone: true}">Fishing<br>
          <input type="checkbox" name="Hobbies4" value="Crafts" [(ngModel)]="Interest.Hobbies4" [ngModelOptions]="{standalone: true}">Crafts<br>
          <input type="checkbox" name="Hobbies5" value="Television" [(ngModel)]="Interest.Hobbies5" [ngModelOptions]="{standalone: true}">Television<br>
          <input type="checkbox" name="Hobbies6" value="Bird Watching" [(ngModel)]="Interest.Hobbies6" [ngModelOptions]="{standalone: true}">Bird Watching<br>
          <input type="checkbox" name="Hobbies7" value="Collecting" [(ngModel)]="Interest.Hobbies7" [ngModelOptions]="{standalone: true}">Collecting <br>
          <input type="checkbox" name="Hobbies8" value="Music" [(ngModel)]="Interest.Hobbies8" [ngModelOptions]="{standalone: true}">Music<br>
          <input type="checkbox" name="Hobbies9" value="Video Games" [(ngModel)]="Interest.Hobbies9" [ngModelOptions]="{standalone: true}">Video Games<br><br>
          <h4><b><u>Food Prefference</u></b></h4>
          <input type="checkbox" name="Drinks1" value="Drinks1" [(ngModel)]="Interest.Drinks1" [ngModelOptions]="{standalone: true}">Vegetarian<br>
          <input type="checkbox" name="Drinks2" value="Drinks2" [(ngModel)]="Interest.Drinks2" [ngModelOptions]="{standalone: true}">Half Vegetarian<br>
          <input type="checkbox" name="Drinks3" value="Drinks3" [(ngModel)]="Interest.Drinks3" [ngModelOptions]="{standalone: true}">Non Vegetarian<br><br>
      <br>
      </div>
      </div>
    
      
      <div class="form-group">
          <label for="myProf" class="col-lg-2 control-label">My Profession</label>
        <div class="col-lg-10">
            <select name="myProf" [(ngModel)]="myProf" [ngModelOptions]="{standalone: true}">
                <option value="Engineer">Engineer</option>
                <option value="Doctor">Doctor</option>
                <option value="Lecturer">Lecturer</option>
                <option value="Software developer">Software developer</option>
                <option value="Businessman">Businessman</option>
                <option value="Lawyer">Lawyer</option>
                <option value="Sprotman">Sportsman</option>
                <option value="Musician">Musician</option>
              </select>
              <br>
          <br>
      </div>
      </div>
    
      <br><br>
      <div class="form-group">
         <p> <label for="intProf" class="col-lg-2 control-label"><br>Interested Profession</label></p>
        <div class="col-lg-10">
          <br>
            <select name="intProf" [(ngModel)]="intProf" [ngModelOptions]="{standalone: true}">
                <option value="Engineer">Engineer</option>
                <option value="Doctor">Doctor</option>
                <option value="Lecturer">Lecturer</option>
                <option value="Software developer">Software developer</option>
                <option value="Businessman">Businessman</option>
                <option value="Lawyer">Lawyer</option>
                <option value="Sprotman">Sportsman</option>
                <option value="Musician">Musician</option>
              </select>
          <br>
      </div>
      </div>
    
    
          <div class="form-group" >
            <div class="col-lg-10 col-lg-offset-2">
              <br><br>
              <button type="reset" class="btn btn-default">Cancel</button>
     <button  type="submit" class="btn btn-primary" id="btnSubmit" (click)="register()">Save </button>
              
              <!-- <button type="submit" id="btnSubmit"class="btn" (click)="register()">save</button> -->
            </div>
          </div>
     
      </form>
      </div>
    
    
    
      
       