<!-- <div class="image">
    <img src="assets/img/success.jpeg" width="100%" height="100%">
</div> -->
<div class="formcontainer">
  <div class="formbody">
      
          <div class="header" style="margin-left: 20px; color:green">
           <h3><b> You have successfully activated your account!</b></h3>
            <br> <br>
            click here to continue..

            <div style="margin-top:40px;">
               
                <button class="btn btn-primary btn-block" (click)="next()" >Next </button>
            </div>
          </div>
        

  </div>
  </div>
