

 <div class="container">
  <h2 class="page-header">Password Reset</h2>

  <form [formGroup]="myForm" >

    
         
        

         
        <div class="form-group">
          <label for="password">Password</label>
      
          <input type="password" name="password" class="form-control" id="pass"  placeholder="Enter your new password" formControlName="newpassword">
          <span *ngIf="isValid('newpassword')">Password is a mandatory field</span>
        </div>

          <div class="form-group">
            <label for="confirmPass">Confirm password</label>
        
              <input type="password" name="confirmPass" class="form-control" id="cnfpass" placeholder="Confirm new password"   formControlName="newcnfpass" >
           
          </div>


          <!-- <div style="text-align: center; color:red">                
            {{successMessage}}
          </div>
          -->
        

          <div class="form-group"> 
             <button class="btn btn-primary"  (click)="abc()" >Submit</button>
          </div>
         
      </form>
  </div>

  <!-- <div>
     
  </div>
</div> -->