
<div *ngIf="user" class="container">
  <h2 class="page-header"><img src="assets/img/generic-avatar.png" alt="avatar" height="114px" width="100px"> {{user.username}}'s profile</h2>
  <ul class="list-group">
   <li class="list-group-item">Username: {{user.username}}></li> 
    <li class="list-group-item">Type: awesome</li>
    <li class="list-group-item">gender: {{user.gender}}</li>
    <li class="list-group-item">message: {{user.message}}</li>
    <li class="list-group-item">Tp: {{user.telephone}}</li>
  </ul>

</div>
